<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_post_comment_path(@comment) %> |
  <%= link_to "Back to post", post_url(@comment.post) %>

  <%= button_to "Destroy this comment", post_comment_path(@comment.post,@comment), method: :delete %>
</div>
