<!DOCTYPE html>
<html>
  <head>
    <title>Fakereddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if !logged_in?%>
      <%= link_to "Sign In", new_session_url%>
      <%= link_to "Create Account", new_user_url%>
    <% else%>
      <%= current_user.name %>
      <%= button_to "Logout", session_url, method: "delete" %>
    <%end%>
    <%= yield %>
  </body>
</html>
